:root{
     /*      Theme colors        */
     --text-gray: #3f4954;
     --green-light1 : #CAD2C5;
     --green-light2: #84A98C;
     --green-light3: #52796F;
     --green-dark1: #354F52;
     --green-dark2: #2F3E46;


}


.top{
    width: 100%;
    height: 50px;
    background-color: var(--green-light1);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
   
}

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topIcon{
    font-size: 20px;
    margin-right: 15px;
    color: #444;
    cursor: pointer;
    color: var(--green-light3);
}

.topCenter{
    flex: 6;

}

.topList{

display: flex;
justify-content: center;
margin: 0;
padding: 0;
list-style: none ;
}

.topListItem{
    margin-right: 40px;
    font-size: 17px;
    font-weight: 200;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    color: var(--green-light3);
}

.topListItem:hover, .topSearchIcon:hover, .topIcon:hover{

color: var(--green-dark2);

}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }

.topSearchIcon{
    cursor: pointer;
    font-size: 20px;
    color:var(--green-light3)
}