:root{
    /*      Theme colors        */
    --text-gray: #3f4954;
    --background-lgreen : #88d4ab;
    --green-light1 : #CAD2C5;
    --green-light2: #84A98C;
    --green-light3: #52796F;
    --green: #ADC178;
    --green-dark1: #354F52;
    --green-dark2: #2F3E46;
    --brown1:#A98467;
    --brown2:#9A7961;
    --brown3:#8B6E5A;
    --brown4:#6C584C;
    --greenl: #e9f5db;

}

.singlePost{
    flex: 9;

}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;

}

.singlePostImg{
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #9A7961;
}

.singlePostEdit{
    float: right;
    font-size: 20px;
    
   
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: #88d4ab;
}

.singlePostIcon:last-child{
    color: rgb(221, 129, 129);
}

.singlePostInfo{
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--green-light3);
    font-family: 'Montserrat', sans-serif;
}


.singlePostDescription{
    padding: 10px;

}
.singlePostDesc{
    color: #3f4954;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
















